footer {
  text-align: center;
  margin: 40px;
  padding: 10px;
}

form {
  margin-left: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-left: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

li {
  margin: 8px;
  padding: 3px;
  font-style: italic;
  font-weight: 300;
}

.list {
  line-height: 1px;
}
